@font-face {
   font-family: milkyhoney;
   src: url(../fonts/milkyhoney.otf);
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   text-align: center;
}

body {
   background-size: cover;
   background-image: url("../assets/cafe-granos.jpg");
   font-family: milkyhoney;

}

i {
   cursor: pointer;
}

.div__body {
   background-color: #00000099;
}

ul {
   list-style-type: none;
   overflow: hidden;
   background-color: rgb(37, 12, 2);
   margin: 0;
}

li {
   float: left;
}

li a {
   font-size: x-large;
   display: block;
   color: white;
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;
}

li a:hover {
   background-color: rgb(53, 17, 3);
   color: rgb(228, 79, 183);

}

.li__carrito {
   float: right;
   padding-right: 20px;
}

.carrito {
   position: relative;
   color: white;
   float: right;
}

.carritoAmount {
   position: absolute;
   top: -15px;
   right: -10px;
   font-size: 16px;
   background-color: rgb(228, 79, 183);
   color: white;
   padding: 3px;
   border-radius: 3px;
}

h1 {
   color: rgb(228, 79, 183);
   margin: 20px;
}

h2 {
   color: rgb(190, 186, 186);
}

h4 {
   color: rgb(190, 186, 186);

}


.img__index {
   width: 600px;
   padding: 20px;
}

.div__producto {
   background-color: #00000030;
   padding: 20px;
}

.img__producto {
   height: 200px;
}

.p__producto__texto {
   font-size: large;
   color: rgb(221, 216, 216);
   padding: 10px;
}

.p__producto__precio {
   font-size: x-large;
   color: rgb(235, 204, 204);
}

.div__categoria {
   display: flex;
   justify-content: center;
   flex-direction: row;
   flex-wrap: wrap;
}

.div__categoria div {
   margin: 5px;
}

.div__comprar {
   padding: 10px;
   display: flex;
   justify-content: center;
}
.btn__producto{
   width: 200px;
   background-color: rgb(228, 79, 183);
   padding: 10px;
}
.btn__Checkout{
   width: 150px;
   background-color:  rgb(228, 79, 183,0.9);
   padding: 10px;
}
.btn__RemoveAll{
   width: 150px;
   background-color: rgba(156, 56, 26, 0.9);
   padding: 10px;
   color: wheat;
}
.quantity {
   color: wheat;
}

.precio-quantity {
   display: flex;
   flex-direction: row;
   justify-content: center;
}

.buttons {
   display: flex;
   flex-direction: row;
   align-items: center;

   gap: 8px;
   font-size: 26px;
}

.bi-dash-square-fill {
   color: rgb(228, 79, 183,0.9);
}

.bi-plus-square-fill {
   color:rgba(35, 194, 83, 0.9);
}

.btn__comprar {
   width: 300px;
   color: white;
   background-color: forestgreen;
   padding: 10px;
}

/** CARRITO **/
.shopping-carrito {
   display: grid;
   grid-template-columns: repeat(1, 320px);
   justify-content: center;
   gap: 15px;
}

.carrito__item {
   
   display: flex;
   align-items: center;
   justify-content: center;
}

.carrito__item__precio {
   background-color: #212529;
   color: white;
   
   padding: 3px 6px;
}

.details {
   display: flex;
   flex-direction: column;
   padding: 10px;
   gap: 10px;
   color: rgb(228, 79, 183);
}

.title-precio-x {
   width: 195px;
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.title-precio {
   display: flex;
   align-items: center;
   gap: 10px;
}


.montototal {
   color: white;
}


@media screen and (max-width: 650px) {
   .img__index {
      width: 400px;
      padding: 10px;
   }
}

@media screen and (max-width: 480px) {
   .img__index {
      width: 200px;
      padding: 5px;
   }
}