@font-face {
   font-family: milkyhoney;
   src: url(../fonts/milkyhoney.otf);
}

body {
   background-color: white;
   font-family: milkyhoney;
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

h1 {
   color: rgb(151, 19, 111)
}

h2 {
   color: black;
   margin: 20px
}

img {
   height: 200px;
}

.div__categoria {
   display: flex;
   justify-content: flex-start;
   flex-direction: row;
   flex-wrap: wrap;
}

.div__categoria div {
   margin: 10px;
}

.div__comprar {
   padding: 10px;
   display: flex;
   justify-content: center;
}

.btn__producto{
   width: 300px;
   background-color: rgb(108, 202, 108);
   padding: 10px;
}
.btn__comprar {
   width: 300px;
   color:white;
   background-color: forestgreen;
   padding: 10px;
}